<a href="https://colab.research.google.com/github/yehaa2004/pdf-to-csv/blob/main/EEE_Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.9.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 19.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: tabula-py
Successfully installed tabula-py-2.9.0

In [2]:
import tabula

In [3]:
import csv

In [22]:
file = "/content/sample_data/NOV DEC2023 EEE RESULTS.pdf"

In [23]:
df_1 = tabula.read_pdf('/content/sample_data/NOV DEC2023 EEE RESULTS.pdf')

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.backend:Got stderr: Apr 24, 2024 4:50:03 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 24, 2024 4:50:03 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [24]:
print(df_1)

[      Unnamed: 0     Subject Code - > BS3171 CY3151 GE3151 GE3152 GE3171  \
0    Reg. Number           Stud. Name  Grade  Grade  Grade  Grade  Grade
1   715521105004               ABI  P    NaN    NaN    NaN    NaN    NaN
2   715522105033         NATARAJAN  K    NaN    NaN    NaN    NaN    NaN
3   715523105001         AISHWARYA  C      O      A      O     A+      O
4   715523105002            ALLWIN  R      O      A     B+     B+      O
5   715523105003    ANANTHAKUMAR  M S      O      A      A     A+      O
6   715523105004       ANGULAKSHMI  R      O      O     B+     A+      O
7   715523105005           ANIRUDH  R      O     A+     B+      A      O
8   715523105006    ANKIT CHANDRAN  R      O      A      A     B+      O
9   715523105007         ANUBRILYA  K      O      A      A      A      O
10  715523105008           ARAVIND  K      O     B+      C     B+      O
11  715523105009          ATHELESH  B      O     A+      A     A+      O
12  715523105010    BARATH KRISHNA  R      O      A     B+     B+      O
13  715523105011       BARATHWIN  A N      O     B+     B+     B+      O
14  715523105012          CHITRUPA  S      O     A+     A+     B+      O
15  715523105013        DHAARANI  A R      O     A+     A+      O      O
16  715523105014            DHARUN  V      O     A+     A+      A      O
17  715523105015       DHARUNIKA  T B      O     A+     A+     A+      O
18  715523105016          DIVYAN  P M      O     B+     B+     B+      O
19  715523105017          GAUTAM  V R      O      A     A+      A      O
20  715523105018        GOPIKA SRI  P      O     B+     B+      B      O
21  715523105019           GOWTHAM  R      O     B+     B+     A+      O
22  715523105020      GUNASEELAN  A M      O      A      A     B+      O
23  715523105021      GURUSANKARAN  M      O      A      A     A+      O
24  715523105022            HAFILA  H      O     A+     B+      O      O
25  715523105023            HARINI  S      O      A     B+     B+      O
26  715523105024     JABEZ AZARIAH  S      O      A      A      A      O
27  715523105025          JANANI  A P      O      A      A     A+      O
28  715523105026     KAMALESHVAR  K K      O     A+     A+      A      O
29  715523105027  LENA SHRINIVAS  K S      O     A+     B+      A      O
30  715523105028     MAGHINTHAN MOHAN      O     A+      A      A      O
31           NaN                SELVI    NaN    NaN    NaN    NaN    NaN
32  715523105029           MAHADEV  A      O      A     B+     A+      O
33  715523105030         MANASHA  K G      O     A+      A     A+      O
34  715523105031       MOHAN KUMAR  G      O      A     B+      A      O

   GE3172 HS3152 MA3151 PH3151
0   Grade  Grade  Grade  Grade
1     NaN    NaN     B+    NaN
2     NaN    NaN      U    NaN
3       O      A     A+     A+
4       O      A      A     A+
5       O      A      A     A+
6       O      A      O     A+
7       O     B+     B+     A+
8       O      A      O      A
9       O     B+     A+     A+
10      O     B+     B+      B
11      O      A      A      O
12      O     B+      O     B+
13      O     A+      A      B
14      O      A     B+      A
15      O      A     A+      O
16      O      A      O     A+
17      O     B+      O      O
18      O      A     B+      A
19      O      A      O      O
20      O     B+     A+      A
21      O     B+      C      B
22      O      A      A      B
23      O      A      A     A+
24      O      A      O     A+
25      O     B+      B      A
26      O     B+      O     A+
27      O     B+      A      O
28      O     B+      O     A+
29      O     B+      O     A+
30      O      A     A+     A+
31    NaN    NaN    NaN    NaN
32      O     B+     B+     A+
33      O      A     A+      O
34      O     A+      C     B+  ]

In [25]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.9.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)

In [26]:
import tabula

In [27]:
file = "/content/sample_data/NOV DEC2023 EEE RESULTS.pdf"

In [28]:
output = tabula.convert_into(file, "/content/sample_data/NOV DEC2023 EEE RESULTS.csv", output_format="csv", pages=[1, 2])

WARNING:tabula.backend:Got stderr: Apr 24, 2024 4:52:02 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 24, 2024 4:52:02 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [29]:
print(output)

None

In [30]:
file = open('/content/sample_data/NOV DEC2023 EEE RESULTS.csv')
type(file)

_io.TextIOWrapper

In [31]:
import pandas as pd

In [32]:
data= pd.read_csv("/content/sample_data/NOV DEC2023 EEE RESULTS.csv")
data

,Unnamed: 0,Subject Code - >,BS3171,CY3151,GE3151,GE3152,GE3171,GE3172,HS3152,MA3151,PH3151
0,Reg. Number,Stud. Name,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade
1,715521105004,ABI P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B+,NaN
2,715522105033,NATARAJAN K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,NaN
3,715523105001,AISHWARYA C,O,A,O,A+,O,O,A,A+,A+
4,715523105002,ALLWIN R,O,A,B+,B+,O,O,A,A,A+
...,...,...,...,...,...,...,...,...,...,...,...
85,715523105054,VELMURUGAN K,O,A,B+,O,O,O,A+,A,A+
86,715523105055,VETRIVEL P A,O,A,B+,A,O,O,A,A,B+
87,715523105056,VISHNU PRIYA R,O,A,B,A+,O,O,A+,A+,A+
88,715523105057,YASHWANTH DARAN D,O,A,B+,B+,O,O,A,O,O
89,715523105058,YOKESH KUMAR B,O,A,B+,B+,O,O,B+,A+,A+

In [38]:
with open(csv_file, 'r', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    print(reader.fieldnames)

['', 'Subject Code - >', 'BS3171', 'CY3151', 'GE3151', 'GE3152', 'GE3171', 'GE3172', 'HS3152', 'MA3151', 'PH3151']

In [35]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

# Example usage
csv_file = '/content/sample_data/NOV DEC2023 EEE RESULTS.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Print the counts
for grade, count in grade_counts.items():
    print(f'Grade: {grade}, Count: {count}')

Grade: O, Count: 22
Grade: A+, Count: 28
Grade: A, Count: 17
Grade: B, Count: 3
Grade: B+, Count: 12
Grade: C, Count: 2
Grade: E, Count: 0
Grade: U, Count: 1

In [37]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

def save_grade_counts(grade_counts, output_file):
    # Open the output CSV file for writing
    with open(output_file, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)

        # Write the header
        writer.writerow(['Grade', 'Count'])

        # Write the grade counts
        for grade, count in grade_counts.items():
            writer.writerow([grade, count])

# Example usage
csv_file = '/content/sample_data/NOV DEC2023 EEE RESULTS.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Specify the output file path
output_file = 'grade_counts.csv'

# Save the grade counts to the output CSV file
save_grade_counts(grade_counts, output_file)