<a href="https://colab.research.google.com/github/yehaa2004/pdf-to-csv/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.9.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 29.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: tabula-py
Successfully installed tabula-py-2.9.0

In [2]:
import tabula

In [3]:
import csv

In [14]:
file = "/content/sample_data/NOV DEC2023 ECE RESULTS.pdf"

In [15]:
df_1 = tabula.read_pdf('/content/sample_data/NOV DEC2023 ECE RESULTS.pdf')

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.backend:Got stderr: Apr 24, 2024 4:18:31 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 24, 2024 4:18:31 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [16]:
print(df_1)

[      Unnamed: 0        Subject Code - > BS3171 CY3151 GE3151 GE3152 GE3171  \
0    Reg. Number              Stud. Name  Grade  Grade  Grade  Grade  Grade
1   715523106001           ABHIGEETHA  K      O      O      A      O      O
2   715523106002                  ABI  R    NaN    NaN    NaN    NaN    NaN
3   715523106003              ABIRAMI  M      O      A      A     A+      O
4   715523106004  ABIRAMI NACHAMMAI  K S      O     A+     B+     A+      O
5   715523106005              ADHITHI  B      O     A+      A      A      O
6   715523106006              ADVAITH  K      O      A      C      A      O
7   715523106007            AISHWARYA  P      O     A+     A+     A+      O
8   715523106008                AKASH  B      O     A+      A     A+      O
9   715523106009                AKASH  N      O      U     B+     B+      O
10  715523106010                AKASH  R      O     A+     B+     B+      O
11  715523106011              AKSHETA  S      O      A     B+     A+      O
12  715523106012             AKSHITHA  R      O      A     B+     A+      O
13  715523106013           AMRITHAA  S R      O      O      A      O      O
14  715523106014              ARAVIND  C      O      A     B+     B+     A+
15  715523106015           ARAVINTHAN  T      O      A     B+     B+      O
16  715523106016        ASHAVIKASHINI  K      O      A     B+      O      O
17  715523106017               ASMITA  J      O     A+     A+      A      O
18  715523106018             AYYAPPAN  K      O     A+     B+     B+      O
19  715523106019           BAVISHYAA  SP      O      O      O     A+      O
20  715523106020           CHANDREESH  K      O     B+     B+     B+      O
21  715523106021              DEEKSHA  S      O     A+     A+     A+      O
22  715523106022             DEVIKA NAIR      O     A+     B+     A+      O
23  715523106023          DHANUSHIYAN  R      O     A+     B+     B+      O
24  715523106024               DHANYA  S      O      A     A+      B      O
25  715523106025            DHARANIKA  V      O     A+      A     A+      O
26  715523106026          DHARANI SRI  P      O     A+     A+      O      O
27  715523106027          DHARMARAJAN  V      O      A     B+     A+      O
28  715523106028           DILLIMARAN  K      O     A+     A+     A+      O
29  715523106029        DIVYA PALANISAMY      O      O      A      A      O
30  715523106030        DOUSIK MANOKARAN      O     A+      A     B+      O
31  715523106031         ENOCH JEBAKUMAR      O     A+      A     A+      O
32  715523106032             GAURAV  V R      O      O      A      A      O
33  715523106033            GOKULNATH  S      O      A     B+      A     A+
34  715523106034          GOPISANTH  S K      O     A+     B+     A+     A+
35  715523106035              GOWSIKA  G      O      A      A      A      O

   GE3172 HS3152 MA3151 PH3151
0   Grade  Grade  Grade  Grade
1       O      A      O      O
2     NaN    NaN    NaN    NaN
3       O     A+      O     A+
4       O     A+      O     A+
5       O     A+      O      A
6       O     B+      A     B+
7       O      A      O     A+
8       O     B+      O      A
9       O      A     A+     B+
10      O      A      O      A
11      O      A      A     A+
12      O      A     A+     A+
13      O     B+      O      O
14      O     B+      O      A
15      O     B+     A+     B+
16      O     A+      A      O
17      O     B+      O     A+
18      O     B+     B+      C
19      O     A+      O      O
20      O     B+      B      C
21      O     B+     A+     B+
22      O      A     B+     B+
23      O     B+     B+     A+
24      O      A     A+     A+
25      O      A      O      O
26      O     B+     A+     B+
27      O      A     A+      A
28      O      A      O     A+
29      O      A      O     A+
30      O      A      O      O
31      O      A      O      O
32      O      A      O      O
33      O     B+      A     A+
34      O      A     B+     A+
35      O     A+      O     A+  ]

In [17]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.9.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)

In [18]:
import tabula

In [19]:
file = "/content/sample_data/NOV DEC2023 ECE RESULTS.pdf"

In [20]:
output = tabula.convert_into(file, "/content/sample_data/NOV DEC2023 ECE RESULTS.csv", output_format="csv", pages=[1, 2])

WARNING:tabula.backend:Got stderr: Apr 24, 2024 4:19:30 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 24, 2024 4:19:30 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [21]:
print(output)

None

In [22]:
file = open('/content/sample_data/NOV DEC2023 ECE RESULTS.pdf')
type(file)

_io.TextIOWrapper

In [23]:
import pandas as pd

In [26]:
data= pd.read_csv("/content/sample_data/NOV DEC2023 ECE RESULTS.csv")
data

,Unnamed: 0,Subject Code - >,BS3171,CY3151,GE3151,GE3152,GE3171,GE3172,HS3152,MA3151,PH3151
0,Reg. Number,Stud. Name,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade
1,715523106001,ABHIGEETHA K,O,O,A,O,O,O,A,O,O
2,715523106002,ABI R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,715523106003,ABIRAMI M,O,A,A,A+,O,O,A+,O,A+
4,715523106004,ABIRAMI NACHAMMAI K S,O,A+,B+,A+,O,O,A+,O,A+
...,...,...,...,...,...,...,...,...,...,...,...
112,715523106070,PARISHITH A I,O,A+,B+,B+,O,O,B+,O,A+
113,715523106071,POTRI SELVAN K,O,A+,B+,A+,O,O,B+,A+,A+
114,715523106072,PRAGASAINASHY S,O,A,A+,A+,O,O,A,B+,A
115,715523106073,PRANEETH KRISHNA E,O,A,B+,A,O,O,A+,O,A+
116,715523106074,PRINEEV V S,O,A+,B+,B+,O,O,A+,A+,B+

In [30]:
with open(csv_file, 'r', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    print(reader.fieldnames)

['', 'Subject Code - >', 'BS3171', 'CY3151', 'GE3151', 'GE3152', 'GE3171', 'GE3172', 'HS3152', 'MA3151', 'PH3151']

In [29]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

# Example usage
csv_file = '/content/sample_data/NOV DEC2023 ECE RESULTS.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Print the counts
for grade, count in grade_counts.items():
    print(f'Grade: {grade}, Count: {count}')

Grade: O, Count: 44
Grade: A+, Count: 27
Grade: A, Count: 22
Grade: B, Count: 7
Grade: B+, Count: 10
Grade: C, Count: 2
Grade: E, Count: 0
Grade: U, Count: 0

In [32]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

def save_grade_counts(grade_counts, output_file):
    # Open the output CSV file for writing
    with open(output_file, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)

        # Write the header
        writer.writerow(['Grade', 'Count'])

        # Write the grade counts
        for grade, count in grade_counts.items():
            writer.writerow([grade, count])

# Example usage
csv_file = '/content/sample_data/NOV DEC2023 ECE RESULTS.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Specify the output file path
output_file = 'grade_counts.csv'

# Save the grade counts to the output CSV file
save_grade_counts(grade_counts, output_file)