<a href="https://colab.research.google.com/github/yehaa2004/pdf-to-csv/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.9.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 44.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: tabula-py
Successfully installed tabula-py-2.9.0

In [2]:
import tabula

In [9]:
import csv

In [43]:
file = "/content/AI&DS.pdf"

In [44]:
df_1 = tabula.read_pdf('/content/AI&DS.pdf')

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.
WARNING:tabula.backend:Got stderr: Apr 16, 2024 5:47:12 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Apr 16, 2024 5:47:12 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Apr 16, 2024 5:47:12 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts
Apr 16, 2024 5:47:12 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 16, 2024 5:47:12 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [45]:
print(df_1)

[      Unnamed: 0     Subject Code - > BS3171 CY3151 GE3151 GE3152 GE3171  \
0    Reg. Number           Stud. Name  Grade  Grade  Grade  Grade  Grade
1   715522243001      ABHI ROOBINI  S      O     A+     A+     A+      O
2   715522243002           ABISHEK  S      O     A+     B+      A      O
3   715522243003       ADARSH SHIV  R      O     A+     B+     A+      O
4   715522243004         AKILESH  J S      O     A+     A+     A+      O
5   715522243005         AKSHARA  K M      O     A+     A+     A+      O
6   715522243006      ANTO NICKSON  J      O     A+     B+     B+      O
7   715522243007         ARUNKUMAR  M      O     A+     A+     A+      O
8   715522243008       ASHVITHAA  V P      O      A      O      A      O
9   715522243009            ASWATH  A      O      O     B+      A      O
10  715522243010     BARATH GIRI  C S      O      O     B+     B+      O
11  715522243011      BHAVADHARANI  S      O      A      O      A      O
12  715522243012         BHUVANESH  G      O      U     B+      U     A+
13  715522243013            DEEPAK  G      O     B+     A+     B+      O
14  715522243014         DHANUSREE  N      O     B+      A     B+      O
15  715522243015  DHARSHAN YADAV  D K     A+      A     B+     B+      O
16  715522243016         DHARSHINI  S      O     A+     B+     B+      O
17  715522243017           DHYNESH  J      A     B+     B+     B+      O
18  715522243018         GANGA RAJ  R      O     A+     B+     A+      O
19  715522243019            HARISH  P      O      B     A+      A      O
20  715522243020      HARSHINI  T K S      O      A     B+     A+      O
21  715522243021     JOEL EBENEZER  P      O     A+     B+     A+      O
22  715522243022          JWANISHA  K      O     A+     A+      A      O
23  715522243023      KARTHIKEYANI  B      O     A+     A+      O      O
24  715522243024           KAVITHA  S     A+      B     B+     A+      O
25  715522243025   KEERTHI VARDHAN  M      O      A     A+     A+      O
26  715522243026    KOUSHIK BALAJI  P      O     A+     A+     A+      O
27  715522243027             KUHAN  M      O     A+     A+     A+      O
28  715522243028        LALPRADHAP  M      O      B     B+     B+      O
29  715522243029    LAXMI PRIYYA  K S      O     B+     B+      A      O
30  715522243030        MOHANRAGUL  G      O     A+     B+     B+      O
31  715522243031    MUKHIL ADINATH  P      O     A+     A+     B+      O
32  715522243032           MUKILAN  U      O      A     A+      A      O
33  715522243033          NAMRUTHA  K      O     A+      A     A+      O
34  715522243034    NITESH KUMAR  N S      O     B+     B+      A      O
35  715522243036         PRATHIBHA  M      O      O     A+      A      O

   GE3172 HS3152 MA3151 PH3151
0   Grade  Grade  Grade  Grade
1       O     A+     A+     A+
2       O      A     B+     A+
3       O      O      O      O
4       O      O      A     A+
5       O      O      O      O
6       O     A+     A+     A+
7       O     A+     A+      O
8       O      A     A+     A+
9       O     A+     A+     A+
10      O      O     A+      O
11      O     A+      O      O
12      O      A      U      U
13      O     A+      A     A+
14      O     B+      A     A+
15      O      A      U      B
16      O      A     A+      A
17      O     A+      U      B
18      O     B+     A+     A+
19      O     B+      A     A+
20      O     B+     A+      O
21      O      A      A      O
22      O      O      A      A
23      O     A+     A+      O
24      O     B+      U     B+
25      O      A     A+      O
26      O     A+      O      O
27      O     A+      O      O
28      O     B+      B     B+
29      O      A      B     B+
30      O      A     A+     A+
31      O      A      O     A+
32      O      A     A+      A
33      O      O      O     A+
34      O      A     B+     B+
35      O     A+     A+     A+  ]

In [46]:
output = tabula.convert_into(file, "/content/sample_data.csv", output_format="csv", pages=[1, 2])

WARNING:tabula.backend:Got stderr: Apr 16, 2024 5:47:52 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Apr 16, 2024 5:47:52 AM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [47]:
print(output)

None

In [48]:
file = open('/content/sample_data.csv')
type(file)

_io.TextIOWrapper

In [49]:
import pandas as pd

In [50]:
data= pd.read_csv("/content/sample_data.csv")
data

,Unnamed: 0,Subject Code - >,BS3171,CY3151,GE3151,GE3152,GE3171,GE3172,HS3152,MA3151,PH3151
0,Reg. Number,Stud. Name,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade,Grade
1,715522243001,ABHI ROOBINI S,O,A+,A+,A+,O,O,A+,A+,A+
2,715522243002,ABISHEK S,O,A+,B+,A,O,O,A,B+,A+
3,715522243003,ADARSH SHIV R,O,A+,B+,A+,O,O,O,O,O
4,715522243004,AKILESH J S,O,A+,A+,A+,O,O,O,A,A+
...,...,...,...,...,...,...,...,...,...,...,...
84,715522243057,TIRUVIKRAMAN V,O,A+,B+,A,O,O,A,O,O
85,715522243058,VARSHA K,O,A+,B+,B+,O,O,A+,A+,A
86,715522243059,VINAY SHRIVATSAN J T,O,O,B+,A,O,O,B+,O,A+
87,715522243060,YAMINI R,O,O,B+,A,O,O,A+,A,O
88,715522243061,YUVASHREE S,O,A+,A,B+,O,O,A+,A+,A+

In [68]:
with open(csv_file, 'r', newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    print(reader.fieldnames)

['', 'Subject Code - >', 'BS3171', 'CY3151', 'GE3151', 'GE3152', 'GE3171', 'GE3172', 'HS3152', 'MA3151', 'PH3151', '12']

In [73]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

# Example usage
csv_file = '/content/sample_data.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Print the counts
for grade, count in grade_counts.items():
    print(f'Grade: {grade}, Count: {count}')

Grade: O, Count: 23
Grade: A+, Count: 32
Grade: A, Count: 20
Grade: B, Count: 2
Grade: B+, Count: 4
Grade: C, Count: 0
Grade: E, Count: 0
Grade: U, Count: 4

In [75]:
import csv

def count_grades(csv_file, column_name):
    # Dictionary to store the counts of each grade
    grade_counts = {
        'O': 0,
        'A+': 0,
        'A': 0,
        'B': 0,
        'B+': 0,
        'C': 0,
        'E': 0,
        'U': 0
    }

    # Open the CSV file
    with open(csv_file, 'r', newline='') as csvfile:
        reader = csv.DictReader(csvfile)

        # Iterate over each row
        for row in reader:
            # Extract the grade from the specified column
            grade = row[column_name]

            # Increment the count for the corresponding grade
            if grade in grade_counts:
                grade_counts[grade] += 1

    return grade_counts

def save_grade_counts(grade_counts, output_file):
    # Open the output CSV file for writing
    with open(output_file, 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)

        # Write the header
        writer.writerow(['Grade', 'Count'])

        # Write the grade counts
        for grade, count in grade_counts.items():
            writer.writerow([grade, count])

# Example usage
csv_file = '/content/sample_data.csv'
column_name = 'MA3151'

grade_counts = count_grades(csv_file, column_name)

# Specify the output file path
output_file = 'grade_counts.csv'

# Save the grade counts to the output CSV file
save_grade_counts(grade_counts, output_file)